html, body {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: brown;
}

h1 {
    margin-left: 35px;
}

ul {
    display: flex;
    list-style: none;
    gap: 25px;
    margin-right: 35px;
}

.content {
    flex-grow: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
}