html, body {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: brown;
}

h1 {
    margin-left: 35px;
}

ul {
    display: flex;
    list-style: none;
    gap: 25px;
    margin-right: 35px;
}

/* Content */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.box {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    border: 1px solid red;
}

.top, .center, .bottom {
    display: flex;

}

.box-top, .box-center, .box-bottom{
    width: 200px;
    height: 200px;
    border: 1px solid red;
    font-size: 150px;
}






/*-------------*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
}